.recipes {
  &__container {
    margin: 0 auto;
    max-width: 1000px;
  }
}

.searchingRecipes {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.searchingRecipes h1 {
  font-size: 16px;
}

.search1 {
  margin-left: 5px;
}

.recipes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.recipeItem {
  height: 400px;
  margin-bottom: 10px;
}

.recipeItem img {
  max-height: 50%;
}

// RecipePage
.recipePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  padding: 20px;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.recipeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

.recipe-title {
  font-size: 20px;
  font-weight: 900;
  margin: 10px 0;
}

.recipe-ingredients {
  font-size: 16px;
  margin: 10px 0;
}

.recipe-instructions {
  font-size: 16px;
  margin: 10px 0;
}

.favorite-button {
  background-color: var(--orange);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.recipePageContainer .red-button {
  background-color: #ff4500;
  color: #fff;
}

.favorite-button:hover {
  background-color: #000;
}

.favorite-button:active,
.favorite-button:focus {
  background-color: #ff4500;
  color: #fff;
}

/* Медиа-запрос для планшетов (ширина до 768px) */
@media (max-width: 768px) {
  .recipe-card {
    max-width: 400px;
    padding: 10px;
  }
  .recipe-title {
    font-size: 18px;
  }
  .recipe-ingredients, .recipe-instructions {
    font-size: 14px;
  }
}

/* Медиа-запрос для мобильных устройств (ширина до 480px) */
@media (max-width: 480px) {
  .recipe-card {
    max-width: 300px;
    padding: 10px;
    border-radius: 0; /* Убираем скругление углов */
    box-shadow: none; /* Убираем тень */
  }
  .recipe-title {
    font-size: 16px;
  }
  .recipe-ingredients, .recipe-instructions {
    font-size: 12px;
  }
  .recipe-image {
    border-radius: 0; /* Убираем скругление углов */
  }
  .favorite-button {
    padding: 5px 8px;
  }
}