.nav {
  &__container {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.4);
    max-width: 1000px;
    margin-top: 10px;
    // border-bottom-right-radius: 20px;
    // border-bottom-left-radius: 20px;
    border-radius: 10px;
  }

  &__ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

nav a:hover {
  color: rgb(246, 141, 4);
}

li a.active_link {
  color: rgb(246, 141, 4);
}
