.nav {
  &__container {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background-color: #000;
    padding: 20px;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.4);
    max-width: 1300px;
    margin-top: 10px;
    border-radius: 10px;
  }

  &__ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.4s ease-in-out;
  }

  a:hover {
    color: rgb(246, 141, 4);
  }

  .active_link {
    color: rgb(246, 141, 4);
  }

  @media (max-width: 768px) {
    &__ul {
      flex-direction: column; /* Изменить на вертикальное расположение элементов */
    }

    a {
      margin: 5px 0; /* Увеличьте расстояние между элементами */
    }

    .burger-menu {
      display: block; /* Отобразить бургер-меню */
    }
  }
}

/* Дополнительные стили для бургер-меню */
.burger-menu {
  display: none; /* Скрыть бургер-меню по умолчанию */
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding: 10px;
}

/* Меню для мобильных устройств (в медиа-запросе) */
@media (max-width: 768px) {
  .nav__ul {
    display: none; /* Скрыть основное меню */
  }

  .burger-menu {
    display: block; /* Отобразить бургер-меню */
  }
}
