
.recipePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  padding: 20px;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.recipeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

.recipe-title {
  font-size: 20px;
  font-weight: 900;
  margin: 10px 0;
}

.delete-button {
  background-color: #f68d04;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff4500;
}

@media (max-width: 768px) {
  .recipe-card {
    padding: 10px;
  }
  .recipe-title {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .recipe-card {
    border-radius: 0; 
    box-shadow: none; 
    padding: 10px;
  }
  .recipe-title {
    font-size: 16px;
  }
  .recipe-image {
    border-radius: 0; 
  }
  .delete-button {
    padding: 5px 8px;
  }
}